<h1> Your Dashboard </h1>
  <form class="new-post-form">
  <h3>Create New Post </h3>
  <div class="row mb-3">
    <label for="post-title" class="col-sm-2 col-form-label">Title: </label>
    <div class="col-sm-10">
       <input type="text" class="form-control" id="post-title" name="post-title"> </input>
   </div>
  </div>

  <div class="row mb-3">
    <label for="textbody"class="col-sm-2 col-form-label" >Post Text: </label>
  <div class="col-sm-10">
    <textarea class="form-control"  id="textbody" name="textbody" > Enter text here.</textarea> 
  </div>
  </div>
   
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 
{{#if posts.length}}
<section class="your-posts">
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>